body {
    font-size: 1.25em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


/* Styles for the rest of the website - customizations
-----------------------------------------------------------*/

.radio, .checkbox {
    margin-top: 0;
}



html, body {
    height: 100%;
    background-color: #fafafa;
    overflow: hidden;
}
body {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 70px rgba(0, 0, 0, 0.25) inset;
}
.site-wrapper {
    display: table;
    height: 100%;
    min-height: 100%;
    width: 100%;
}
.home .site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
}
.editor .site-wrapper-inner {
    display: block;
}

.form-preset {
    width: 350px;
    margin: auto;
}
@media (max-width: 715px)
{
    .form-preset {
        width: 100%;
    }
}

h1.heading {
    text-align: center;
    margin-bottom: 80px;
    font-size: 5em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

form#inputForm {
    margin-bottom: 200px;
}
form#inputForm .form-inline {
    text-align: center;
}
form#inputForm .help-block {
    font-size: 0.9em;
    margin-bottom: 20px;
}
form#inputForm input#fileUpload {
    visibility: hidden;
    height: 0;
}
form#inputForm button.btn-primary {
    position: absolute;
    top: 2px;
    right: 2px;
}
form#inputForm button:hover,
form#inputForm button:focus {
    outline: none;
}

.resizable-helper {
    z-index: 99;
}

.navbar {
    z-index: 99;
    border-radius: 0;
}
.navbar-brand {
    font-size: 24px;
    padding: 15px 25px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -20px;
}

.editor-preview {
    position: fixed;
    top: 0;
    height: 65%;
    width: 100%;
    /*overflow: auto;*/
}
.editor-preview #livePreviewer {
    width: 100%;
    height: 100%;
    border: 0 none;
    padding-top: 50px;
}
.editor-textarea {
    position: fixed;
    bottom: 0;
    height: 35%;
    width: 100%;
}
.editor-textarea #liveEditor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.editor-visualizer {
    background: #cbd2ba;
    position: fixed;
    height: 65%;
    width: 45%;
    right: -45%;
    top: 0;
}
.editor-visualizer input {
    display: none;
}

.ace_editor {
    border-radius: 0;
}